.payment-banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image:
        linear-gradient(to top, rgba(0, 0, 0, 0.1)),
        url("/images/payment-banner.png ");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}
    


.payment-section {
    margin: 4rem 2.5rem;
}

.payment-section h2 {
    letter-spacing: 1px;
    margin-bottom: 4rem;
    text-align: center;
    text-shadow: 0 0 1px #111;
    color: transparent;
}

.payment-container {
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.payment-container .studio-details {
    width: 50%;
    padding: 3rem 2.5rem 6rem 2.5rem;
    border: 3px solid var(--inputBgColor);
    border-radius: 1rem;
}

.payment-container .studio-details .img-box {
    display: flex;
    justify-content: space-between;
}

.payment-container .studio-details .img-box img {
    width: 60%;
}

.payment-container .studio-details .text-box {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 1rem;
}

.text-box .deal {
    display: inline-block;

    padding: 0.5rem;
    background: rgb(211, 231, 231);
    font-size: .6rem;
    border: 1px solid rgb(134, 196, 221);
    border-radius: 1.5rem;
}

.text-box h5 {
    padding-left: 0.5rem;
}

.payment-container .studio-details .more-details {
    display: flex;
    justify-content: space-between;
    height: 140px;
    margin: 1.5rem 0rem;
}

.more-details .services {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 12px;

}

.more-details .services a {
    text-decoration: none;
    color: var(--primarycolor);
}

#price-tag {
    align-self: flex-end;
    font-weight: 700;
    font-size: 14px;
    width: 50%;
}

#price-tag .price {
    text-decoration: line-through #555;
    color: #333;
}


.payment-container .studio-details .studio-btns {
    display: flex;
    justify-content: space-between;

}

.payment-container .studio-details .studio-btns .same-style {
    padding: 1rem 2rem;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    outline: none;
    color: white;
    background-color: var(--primaryColorBackground);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.2rem;
    letter-spacing: 1px;
    transition: background 0.3s ease;
}

.payment-container .studio-details .studio-btns .same-style:hover {
    background: var(--btnHoverBgColor);
}

#opaque-btn {
    opacity: 0.5;
}

/* pay with debit or credit card */

.form-section {
    border: 3px solid var(--inputBgColor);
    border-radius: 1.5rem;
    padding: 1.5rem 3rem 0rem;
    width: 50%;
}

.form-section .form-group {
    width: 100%;

}

.form-section form .form-group input {
    width: 100%;
    padding: 1.3rem;
    background: var(--inputBgColor);
    border-radius: 2rem;
    margin-bottom: 1.5rem;
    outline: none;
    border: none;
}

.form-section form .form-group input::placeholder {
    font-size: 0.8rem;
    font-weight: 700;
    color: #888;
    transition: color 0.5s ease;
}

.form-section form .form-group input:focus::placeholder {
    color: transparent;
}

.form-section form h3 {
    margin-bottom: .6rem;
}

.form-section form .date-group {
    display: flex;
    justify-content: center;
    gap: .1rem;
}

.date-group .form-group input {
    width: 50%;
}

.payment-btn-container {
    text-align: center;
    padding: 0rem 4rem;
    margin-top: 0.8rem;
}

#pay-button {
    width: 50%;
    padding: 1.5rem 3rem;
    background: var(--primaryColorBackground);
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;

}

#pay-button:hover {
    transition: background 0.3s ease;
    background: var(--btnHoverBgColor);
}

@media(max-width:1024px) {
    .payment-container {
        padding: 1rem 0rem;
    }

    #pay-button {
        width: 50%;
        padding: 1.2rem 2.5rem;
    }

    .payment-container .studio-details {
        padding: 2.5rem 2rem 5.5rem 2rem;
    }

    .form-section {
        padding: 1.2rem 2rem 0rem;
    }
}

@media(max-width:850px) {
    .payment-container .studio-details {
        padding: 2.5rem 1.3rem 5rem 1.3rem;
    }

    .form-section {
        padding: 1.2rem 1.5rem 0rem;
    }
    #pay-button{
        width:60%;
    }
}

@media(max-width:768px) {
    .payment-container {
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
    }
    
    
    .payment-container .studio-details {
        width: 100%;
        padding: 3rem 2.5rem 6rem 2.5rem;
        
    }
    
    .form-section {
        width: 100%;
        padding: 1.5rem 3rem 0rem;
    }
     #pay-button{
        font-size:1.3rem;
    }
}
@media(max-width:600px){
    .payment-section{
        margin:3.5rem 2rem;
    }
    .payment-container{
        padding:1rem 1.5rem;
    }
    .payment-container .studio-details {
        padding: 3rem 2rem 5rem 2rem;
        
    }
    .payment-section h2{
        margin-bottom:2.5rem;
    }
        
    .form-section {
       
        padding: 1.2rem 2rem 0rem;
    }
     #pay-button{
        width:100%;
        padding:1rem 2rem;
    }
}
@media(max-width:480px){
 .payment-section{
        margin:3.5rem 0rem;
    }
    .payment-container .studio-details .studio-btns .same-style {
        padding:1rem 1.5rem;
    }
}
@media(max-width:380px){
 .payment-container .studio-details {
        padding: 3rem 1rem 5rem 1rem;
    }
     .payment-container .studio-details .studio-btns .same-style {
        padding:0.8rem 1rem;
    }
        
    .payment-section h2{
        margin-bottom:2rem;
    }   
    .form-section {
        padding: 1.2rem 1rem 0rem; 
    }
    .payment-btn-container{
      padding:0rem 2rem;
    }
     #pay-button{
         padding:1rem 1.5rem;
        }
    }
        
 .modal-container {
    background: var(--modalBgColor);
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    width: 100%;
    height: 100vh; 
    overflow-y: auto; 
    position: fixed;
    inset:0;   /*all sides 0*/ 
    padding: 2rem 1rem; 
    z-index:500;
}

.modal-card {
  margin-top:5rem;
  max-width: 500px;
  width:100%;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
 
}

.payment-summary h2 {
  margin-bottom: 15px;
}

.summary-box {
  background: #fff8f0;
  border-radius: 8px;
  padding: 15px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
}

.summary-row.total {
  font-weight: bold;
}

.payment-method {
  margin-top: 20px;
}
.payment-method h3{
    margin-bottom:0.5rem;
}

.method-buttons {
  display: flex;
  gap: 10px;
}

.method-buttons button {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  background: #f8f8f8;
  border-radius: 6px;
  cursor: pointer;
}

.method-buttons button.active {
  background: #ff9800;
  color: white;
}

.card-payment,
.billing-info {
  margin-top: 20px;
}

.card-payment input, .billing-info input {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.row {
  display: flex;
  gap: 10px;
}

.confirm-btn {
  width: 100%;
  padding: 12px;
  background: var(--primaryColorBackground);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  margin-top: 20px;
  cursor: pointer;
}

.confirm-btn:hover {
  background: var(--btnHoverBgColor);
} 

.message-container{
    width:100%;
    height:100%;
    background:var(--modalBgColor);
    position:fixed;
    top:0;
    left:0;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:500;
}

.message-card{
    width:350px;
    height:300px;
    background: #fff;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    gap:1.5rem;
    text-align:center;
    padding: 0 2.5rem;
    font-size:calc(10px + 1vw);
}
.message-card h2{
    color:#111;
    font-size:2em;
}
.message-card p{
    font-size:1em;
    color:#444;
    font-weight:500;
}

@media(max-width:425px){
    .message-card{
        width:250px;
        height:200px;
        padding: 0 3rem;
    }
    .message-card p{
        line-height:1.5rem;
    }
}
