.navbar  {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index:999;
}
.navbar.transparent{
  background-color:transparent;
  color:white;
}
.navbar.white{
  background-color: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  
}

.navbar .logo img {
  width: 4rem;
  z-index: 200;
}
.navbar .logo:hover{
    cursor:pointer;
}

.navbar .links {
  width: 70%;
  text-align: right;
}

.navbar .links a {
  margin: 0 1rem;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.links a.black{
  color:#111;
  font-weight:600;
}
.links a.white{
  color:#ffffff;

}

.navbar .links a:hover {
  color: var(--primarycolor);
}

.navbar .links .active {
  color: var(--primarycolor);
}


.navbar .auth {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}


.navbar .auth button {
  height: 1.8rem;
  width: 4rem;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease-in;
}

.auth .login {
  background-color: var(--primarycolor);
  color: #fff;
}

.auth .signup {
  color: var(--primarycolor);
  background-color: var(--backgroundcolor);
}

.auth button:hover {
  opacity: 0.9;
   box-shadow:0px 8px 12px #333;
}

.auth .profile-link {
  text-decoration: none;
}

.auth .profile-img {
  display: inline-block;
  font-size: 2.2rem;
  color: var(--primarycolor);
  width: 32px;
  height: 32px;
  background-image: url('your-image-path.jpg');
  background-size: cover;
  /* Hide default icon */
  /* font-size: 0 !important;
  color: transparent !important; */
}

.navbar #menu-toggle {
  display: none;
  font-size: 2rem;
  color: var(--primarycolor);
  cursor: pointer;
}

/* Tablets Responsiveness */
@media(max-width:700px) {
  .navbar {
    padding: 1rem;
  }

  .navbar .links {
    width: 60%;
  }

  .navbar .links a {
    margin: 0 1rem 0 0;
    gap: 0;
  }
}

@media (max-width:650px) {
  .navbar .links a {
    margin: 0 0.6rem 0 0;
    font-size: 13px;
    gap: 0;
    flex-wrap: wrap;
  }

  .text h2 {
    font-size: 20px;
  }
}

/* mobile responsiveness */
@media(max-width:510px) {
  .navbar .logo img {
  width: 3rem;
  } 

  .navbar #menu-toggle {
    display: block;
  }

  .navbar .links a {
    margin: 0;
    font-size: 15px;
    gap: 0;
  }

  .navbar .links,
  .navbar .auth {
    display: none;
    width: 100%;
    background: #333;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    position: absolute;


  }

  .navbar .links.show {

    display: flex;
    left: 0;
    top: 5rem;
    z-index:999;

  }

  .navbar .auth.show {
    display: flex;
    top: 14.2rem;
    right: 0;
    z-index:999;
  }

  .navbar.transparent {
    background: #333;
    position: sticky;
    top: 0;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  }
  .navbar.white{
    background:#ffffff;
  }
  .navbar.white .links, .navbar.white .auth{
    background: #ffffff;
  }

  .navbar .auth .profile-link {
    display: none;
  }

}

