.header-image{
    margin-top:5rem;
    width: 100%;
    height: 85vh;
    background-image:
        linear-gradient(to top,  rgba(0, 0, 0, 0.3) 90%),
        url("/images/faq-banner.png ");
       
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* position: relative; */
}
.contact-us-container{
    letter-spacing:1px;
    padding:2.5rem 12rem 2rem;
}
.contact-us-container h1{
    margin-bottom:1.2rem;
}
.contact-us-container .heading-text{
    font-weight:600;
}
.main-container{
    width:100%;
    letter-spacing:1px;
    display:flex;
    justify-content:center;
    gap:2rem;
    padding: 5rem 12rem;

} 
.contact-container h2{
    margin-bottom:5rem;
}
 .contact-container{
 
  display:flex;
  flex-direction:column;
  gap:2rem;
}
.contact-container .contact-info{
    display:flex;
    gap:0.4rem;
    padding:0 1rem;
    margin-bottom:2rem;
}
.contact-container .contact-info p{
    font-weight:600;
    color:#333;
}

.contact-form-container {
  width:100%;
  max-width: 500px;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #fff;
}
.contact-form-container h2{
    padding-bottom:2rem;
}

.contact-form-container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width:100%;
}
.contact-form .ip-box{
    display:flex;
    align-items:center;
    gap:1rem;
    margin-bottom:2rem;
   
}


.contact-form label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 1.2rem;
  color: #000;
}

.contact-form input,
.contact-form textarea {
  margin-top: 0.3rem;
  padding: 1.3rem 1rem;
  border: none;
  background-color: #e5e5e5;
  border-radius: 25px;
  font-size: 0.9rem;
  resize: none;
  outline:none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder{
    font-weight:700;
    letter-spacing:1px;
    font-size:0.8rem;
}

.contact-form textarea {
  height: 100px;
  width:100%;
  border-radius: 15px;
}

.contact-form button {
  align-self: flex-end;
  margin-top: 1rem;
  padding: 0.8rem 2rem;
  background-color: var(--primaryColorBackground);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #e67e00;
}


@media(max-width:1180px){
    .contact-us-container{
        padding:2.5rem 9rem 2rem;
    }
    .main-container{
        padding: 5rem 9rem;
           gap:1.5rem;
    }
}
@media(max-width:1024px){
    .contact-us-container{
        padding:2.5rem 7rem 2rem;
    }
    .main-container{
        padding: 5rem 7rem;
           gap:1.5rem;
    }
}
@media(max-width:890px){
    .contact-us-container{
        padding:2.5rem 4rem 2rem;
    }
    .main-container{
        padding: 5rem 4rem;
           gap:1.2rem;
    }
}

@media(max-width:768px){
     .contact-us-container{
        padding:2.5rem 3rem 2rem;
    }
    .main-container{
        padding: 4rem 3rem;
           gap:1rem;
    }
}
@media(max-width:650px){
     .contact-us-container{
        padding:2rem ;
        text-align:center;
    }
    .main-container{
        flex-direction:column;
        align-items:center;
        padding: 3rem 2rem;
           gap:1rem;
           
    }
    .contact-container h2{
        text-align:center;
        margin-bottom:3rem;
    }
    .contact--form-container{
        align-self:center;
    }
    .contact-form-container .contact-form{
        width:100%;
    }
}

@media(max-width:425px){
    .contact-us-container, .main-container{
        padding:1rem
    }
}