.profile-banner {
    width: 100%;
    height: 55vh;
    background-image:
        radial-gradient(circle, transparent 10%, rgba(0, 0, 0, 0.3) 80%),
        url("/images/guitar-hero.png ");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.profile-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    position: absolute;
    left: 10vw;
    top: 45vh;
}

.profile-image {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    background: url("/images/artist.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.profile-text {
    align-self: center;
    ;
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
}

.profile-text h1 {
    margin-bottom: 10px;

}

.about-container,
.bookings-container {
    margin: 5rem 0;
    padding: 0 3rem 0 9rem;
}

.about {
    margin-bottom: 2rem;
}

.about h2,
.about p {
    margin-bottom: .5rem;
}

.about p {
    word-spacing: 1px;
    margin-bottom: .5rem;
    line-height: 1.2rem;
    font-weight: 500;
    color: #444;

}

.social-links h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.social-box {
    border-radius: 8px;
    background: #f3f1f0;
    padding: 1.8rem 3rem;
}

.social-box .social-item {
    margin-bottom: 1.2rem;
}

.social-box .social-item:nth-child(3) {
    margin-bottom: 0;
}

.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-item a {
    font-weight: 600;
    font-size: 14px;
    color: #111;
    letter-spacing: 1px;
    text-decoration: none;
}

.bookings-container .tabs {
    display: flex;
    border-bottom: 1px solid #f3f1f0;
    margin-bottom: 1rem;
}

.bookings-container .tab {
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    font-weight: 600;
    color: black;
}

.tab.active {
    color: var(--primarycolor);
}

.tab.active::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: var(--primarycolor);
    border-radius: 2px;
}

.bookings-container .section-title {
    font-weight: bold;
    padding-left: 20px;
    margin: 1.5rem 0rem;
}

.booking-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f3f1f0;
    margin-bottom: 0.5rem;
    border-radius: 4px;
}

.booking-info {
    width: 50%;
    padding: 1rem 0rem 1rem 3rem;
    font-weight: 500;
}

.booking-requirements {
    padding: 1rem 3rem 1rem 0rem;
    text-align: right;
    font-weight: 500;
}

.booking-info strong,
.booking-requirements small {
    display: inline-block;
    margin-bottom: .8rem;

}

@media(max-width:1024px) {

    .about-container,
    .bookings-container {
        padding: 0 3rem 0 7rem;
    }
}

@media(max-width:768px) {

    .about-container,
    .bookings-container {
        padding: 0 2rem 0 5rem;
    }

    .booking-info {
        padding: 1rem 0rem 1rem 2rem;
    }

    .booking-requirements {
        padding: 1rem 2rem 1rem 0rem;
    }

}
@media(max-width:630px){

     .about-container,
    .bookings-container {
        margin: 4rem 0;
        padding: 0 2rem 0 3rem;
    }
      .booking-info {
        padding: 1rem 0rem 1rem 1.5rem;
    }
}

@media(max-width:580px) {
    .profile-box {
        gap: 0;
        left: 4vw;
        top: 50vh;
    }

    .profile-image {
        width: 10rem;
        height: 10rem;
    }

    .profile-text h1 {
        margin-bottom: 0.4rem;
        font-size: 1.5rem;
    }

    .social-box {
        border-radius: 6px;
        background: #f3f1f0;
        padding: 1rem 1.5rem;
    }
      .about-container,
    .bookings-container {
        margin: 4rem 0;
        padding: 0 2rem 0 3rem;
    }
.booking-card {
    flex-direction:column;
}
}
    
.booking-info  {
    width: 100%;
    padding: 1rem 0rem 0.5rem 2rem;

    
}
.booking-requirements{
 width: 100%;
    padding: 0.5rem 0rem 1rem 2rem;
    text-align: left;
    
}

@media(max-width:360px) {
    .profile-box {
        gap: 0;
        left: 2vw;
        top: 50vh;
    }

    .profile-text h1 {
        font-size: 1.2rem;
        margin-bottom: 0.1rem;
    }

    .social-box {
        border-radius: 4px;
        padding: 1rem 0rem 1rem 1rem;
    }

    .about-container,
    .bookings-container {
        margin: 3rem 0;
        padding: 0 1rem 0 1.5rem;
    }
}